tr#highlight:hover {
    background-color: #66bb6a;
}

table#highlight:hover {
    background-color: #66bb6a;
}

td #space{
    padding: 4px 1px;
}

#title1{
    color:white;
    font-weight:bold;
    font-size:35px;
}

table1 tr:hover {
    background-color: #ffff99;
}

#heading1{
    font-size:30px;
}

strong {
    font-weight: bolder;
}

a, a:hover, a:active, a:visited {
    color: white;
}

td #space2{
    padding: 4px 2px;
}